/* Buttons */
.button {
    padding: 8px 30px;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    line-height: 1.45;
    color: #FFFFFF;
    background: #EA212D;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    white-space: nowrap;
    transition: all .2s linear;
}

.button:hover,
.button:focus {
    background: #FF4B56;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.button[disabled] {
    background: #C2C2C2;
    box-shadow: none;
}

.button:not([disabled]) {
    cursor: pointer;
}

/* controls */
.custom-checkbox {
    position: relative;
    display: block;
    min-height: 1.5rem;
    user-select: none;
}
.custom-checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox__label {
    margin: 0;
    padding-left: 1.5rem;
}
.custom-checkbox__fake {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #BBBBBB;
    pointer-events: none;
    content: "";
    user-select: none;
    background-color: #fff;
    border-radius: 2px;
}

.custom-checkbox__fake::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0.875rem;
    height: 0.875rem;
    user-select: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox__input:checked ~ .custom-checkbox__fake {
    border-color: #bbb;
}
.custom-checkbox__input:checked ~ .custom-checkbox__fake::after {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%3Ctitle%3EVector%202%3C/title%3E%0A%3Cdesc%3ECreated%20using%20Figma%3C/desc%3E%0A%3Cg%20id%3D%22Canvas%22%20transform%3D%22translate%28-643%20-928%29%22%3E%0A%3Cg%20id%3D%22Vector%202%22%3E%0A%3Cuse%20xlink%3Ahref%3D%22%23path0_stroke%22%20transform%3D%22translate%28644%20929%29%22%20fill%3D%22%23E20000%22/%3E%0A%3C/g%3E%0A%3C/g%3E%0A%3Cdefs%3E%0A%3Cpath%20id%3D%22path0_stroke%22%20d%3D%22M%203.88889%206.11111L%203.18178%206.81822L%203.88889%207.52532L%204.596%206.81822L%203.88889%206.11111ZM%20-0.707107%202.92933L%203.18178%206.81822L%204.596%205.404L%200.707107%201.51512L%20-0.707107%202.92933ZM%204.596%206.81822L%2010.7071%200.707107L%209.29289%20-0.707107L%203.18178%205.404L%204.596%206.81822Z%22/%3E%0A%3C/defs%3E%0A%3C/svg%3E%0A");
}

/* Custom Select */
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    width: 155px;
    user-select: none;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.custom-select__selected {
    position: relative;
    padding: 10px 18px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 17px;
    line-height: 20px;
    color: #343434;
    cursor: pointer;
}
/*style the arrow inside the select element:*/
.custom-select__selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #474747 transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.custom-select__selected.is-active:after {
    border-color: transparent transparent #474747 transparent;
    top: 13px;
}
/*style the items (options), including the selected item:*/
.custom-select__items div {
    padding: 8px 16px;
    font-size: 15px;
    color: #343434;
    cursor: pointer;
}
/*style items (options):*/
.custom-select__items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.custom-select__items.is-hidden {
    display: none;
}
.custom-select__items div:hover {
    background-color: #F2F2F2;
}


.image-group {
    position: relative;
    padding-top: 1px;
    max-width: 1130px;
    margin: -1px auto 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.image-group__header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 15px 25px 15px 35px;
    background: #FFFFFF;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .2);
}

.image-group__brand {
    margin-right: auto;
}
.image-group__brand-site {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 19px;
    color: #000000;
}
.image-group__brand-site a {
    color: inherit;
}
.image-group__brand-addr {
    font-size: 13px;
    color: #808080;
}

.image-group__filter {
    display: flex;
    align-items: center;
}
.image-group__filter-option {

}
.image-group__filter-option + .image-group__filter-option {
    margin-left: 40px;
}
.image-group__filter-label,
.image-group__filter-select {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.image-group__filter-label {
    margin-right: 1rem;
    font-size: 17px;
    color: #343434;
}

.image-group__actions {
    margin-left: auto;
}

.image-group__body {
    margin-top: 70px;
    padding: 15px 30px 15px 35px;
    background: #ECECEC;
}

.image-group__list {
    list-style-type: none;
    padding: 0;
}

.image-group__item-wrap {
    margin-bottom: 15px;
}
.image-group__item-wrap.is-hidden {
    display: none;
}

.image-group__item-wrap:nth-child(12n+1):nth-last-child(-n+12),
.image-group__item-wrap:nth-child(12n+1):nth-last-child(-n+12) ~ .image-group__item-wrap {
    margin-bottom: 0;
}

.image-group__item {
    position: relative;
    display: block;
    padding-bottom: 100%;
    background: #C4C4C4;
    overflow: hidden;
}
.image-group__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

.image-group__item .custom-checkbox,
.image-group__item .image-group__item-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
.image-group__item .image-group__item-label {
    cursor: pointer;
    z-index: 2;
}
.image-group__item .custom-checkbox__fake {
    position: absolute;
    top: auto;
    bottom: 5px;
    left: 5px;
    width: 1rem;
    height: 1rem;
}

.image-group__item-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity .2s linear;
}

.image-group__item .custom-checkbox__input:checked ~ .image-group__item-mask {
    opacity: .5;
}
.image-group__item .custom-checkbox__label::before,
.image-group__item .custom-checkbox__label::after {
    top: 0;
}